body, div, p, h1, h2, h3, button {
  font-family: "museo-sans";
  font-weight: 100; }

div.table {
  display: table; }

div.table-row {
  display: table-row; }

div.table-cell {
  display: table-cell; }

h1 {
  font-size: 5em;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: bold; }

h3 {
  margin-top: 30px; }

.section {
  overflow: hidden; }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3; }

img {
  position: absolute; }

#fullpage div.section {
  background: url(../img/hexagon_BG.jpg); }

#section0 .buttons {
  z-index: 1000;
  position: absolute;
  bottom: 39px;
  right: 103px; }
  #section0 .buttons button {
    width: 245px;
    background-color: transparent;
    border: white 1px solid;
    font-size: 18px; }

#section0 .title-copy {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
  width: 900px; }
  #section0 .title-copy h1 {
    font-size: 70px;
    text-align: left; }
  #section0 .title-copy span.blue {
    color: #007dc3; }
  #section0 .title-copy p {
    color: white;
    text-align: left;
    font-size: 13px; }

#section0 .ego-logo {
  position: absolute;
  top: 100px;
  right: 287px; }
  #section0 .ego-logo img {
    width: 187px; }

#section0 #that-dude {
  left: 100px;
  top: 503px;
  z-index: 500; }

#section0 #timeline-img {
  left: 1500px;
  top: 263px;
  z-index: 499; }

.slide .content-container {
  width: 100%;
  height: 100%;
  padding: 50px 60px 100px 60px; }
  .slide .content-container .content {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    height: 100%;
    padding: 50px 85px 50px 85px; }
    .slide .content-container .content .header {
      position: relative;
      font-size: 46px;
      color: white;
      width: 100%;
      top: 0px;
      border-bottom: 3px solid white;
      text-align: left;
      text-transform: uppercase; }
    .slide .content-container .content .main-content {
      width: 100%;
      height: 100%;
      color: white;
      font-size: 20px; }
      .slide .content-container .content .main-content .st-page2 video {
        position: relative;
        width: 1500px;
        height: 844px;
        top: 20px;
        left: 20px; }
      .slide .content-container .content .main-content .left {
        width: 50%;
        height: 100%;
        float: left; }
        .slide .content-container .content .main-content .left .st-page1 .hex-copy {
          position: absolute;
          width: 250px;
          color: white;
          z-index: 1000;
          text-align: center;
          font-size: 28px;
          font-weight: 100;
          line-height: 38px; }
        .slide .content-container .content .main-content .left .st-page1 #hex1-copy {
          top: 294px;
          left: 270px; }
        .slide .content-container .content .main-content .left .st-page1 #hex2-copy {
          top: 451px;
          left: 568px; }
        .slide .content-container .content .main-content .left .st-page1 #hex3-copy {
          top: 644px;
          left: 248px;
          width: 300px;
          font-size: 20px;
          line-height: 30px; }
          .slide .content-container .content .main-content .left .st-page1 #hex3-copy span.fact {
            font-size: 84px;
            line-height: 86px;
            font-weight: 700; }
        .slide .content-container .content .main-content .left .st-page1 #page1-hex1 {
          position: absolute;
          top: 220px;
          left: 200px; }
        .slide .content-container .content .main-content .left .st-page1 #page1-hex2 {
          position: absolute;
          top: 393px;
          left: 501px; }
        .slide .content-container .content .main-content .left .st-page1 #page1-hex3 {
          position: absolute;
          top: 567px;
          left: 200px; }
        .slide .content-container .content .main-content .left .st-page3 {
          padding: 100px 20px; }
          .slide .content-container .content .main-content .left .st-page3 span {
            color: red; }
          .slide .content-container .content .main-content .left .st-page3 canvas {
            margin-top: 50px; }
          .slide .content-container .content .main-content .left .st-page3 div.title {
            margin-bottom: 50px; }
          .slide .content-container .content .main-content .left .st-page3 div.summary {
            margin-top: 50px; }
        .slide .content-container .content .main-content .left .st-page4 img {
          width: 600px;
          display: block;
          position: relative;
          margin: 30px; }
        .slide .content-container .content .main-content .left .st-page5 div.sub-header {
          width: 100%;
          text-align: center;
          margin-top: 130px; }
      .slide .content-container .content .main-content .right {
        width: 50%;
        height: 100%;
        float: right; }
        .slide .content-container .content .main-content .right .st-page1 svg {
          position: absolute; }
        .slide .content-container .content .main-content .right .st-page1 div {
          position: absolute; }
          .slide .content-container .content .main-content .right .st-page1 div.right-copy-1 {
            top: 255px;
            left: 1055px;
            color: white;
            font-size: 20px;
            line-height: 40px; }
          .slide .content-container .content .main-content .right .st-page1 div.right-copy-2 {
            top: 550px;
            left: 1055px;
            color: white;
            font-size: 20px;
            line-height: 40px; }
        .slide .content-container .content .main-content .right .st-page1 svg#hex-bullet-1 {
          top: 255px;
          left: 1000px; }
        .slide .content-container .content .main-content .right .st-page1 svg#hex-bullet-2 {
          top: 550px;
          left: 1000px; }
        .slide .content-container .content .main-content .right .st-page1 div.hex-bullet {
          font-size: 20px;
          color: white;
          z-index: 1000; }
        .slide .content-container .content .main-content .right .st-page1 div#hex-bullet-1 {
          top: 260px;
          left: 1016px; }
        .slide .content-container .content .main-content .right .st-page1 div#hex-bullet-2 {
          top: 555px;
          left: 1015px; }
        .slide .content-container .content .main-content .right .st-page1 div.callout {
          left: 1052px;
          top: 773px;
          background-color: #007dc3;
          border: 1px solid white;
          height: 110px;
          width: 660px;
          padding: 20px;
          color: white;
          font-size: 18px;
          font-weight: bold; }
          .slide .content-container .content .main-content .right .st-page1 div.callout div.left {
            position: relative;
            width: 50%;
            height: 100%;
            display: block;
            float: left; }
            .slide .content-container .content .main-content .right .st-page1 div.callout div.left span.price {
              font-size: 42px;
              font-weight: bold; }
          .slide .content-container .content .main-content .right .st-page1 div.callout div.right {
            position: relative;
            vertical-align: bottom;
            display: table-cell;
            padding-top: 25px;
            font-weight: 100;
            float: right; }
        .slide .content-container .content .main-content .right .st-page3 {
          padding: 100px 20px; }
          .slide .content-container .content .main-content .right .st-page3 span {
            color: red; }
          .slide .content-container .content .main-content .right .st-page3 canvas {
            margin-top: 50px; }
          .slide .content-container .content .main-content .right .st-page3 div.title {
            margin-bottom: 50px; }
          .slide .content-container .content .main-content .right .st-page3 div.summary {
            margin-top: 50px; }
        .slide .content-container .content .main-content .right .st-page4 img {
          width: 600px;
          display: block;
          position: relative;
          margin: 30px; }
        .slide .content-container .content .main-content .right .st-page5 div.sub-header {
          width: 100%;
          text-align: center;
          margin-top: 130px; }

video::-webkit-media-controls {
  display: none !important; }
