body, div, p, h1, h2, h3, button {
  font-family: "museo-sans";
  font-weight: 100; }

div.table {
  display: table; }

div.table-row {
  display: table-row; }

div.table-cell {
  display: table-cell; }

img {
  position: absolute; }

li {
  margin: 0.3em 0; }

sup {
  font-size: 20%; }

ol li {
  font-weight: bold; }

li span {
  font-weight: normal; }

h1 {
  font-size: 5em;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: bold; }

h4 {
  font-weight: bold; }

.gon {
  opacity: 0;
  transform: rotateY(180deg); }

#gon1 {
  position: absolute;
  top: 615px;
  left: 170px; }

#gon2 {
  position: absolute;
  top: 807px;
  left: 170px; }

#gon3 {
  position: absolute;
  top: 711px;
  left: 337px; }

#gon4 {
  position: absolute;
  top: 615px;
  left: 504px; }

#gon5 {
  position: absolute;
  top: 807px;
  left: 504px; }

#gon6 {
  position: absolute;
  top: 519px;
  left: 671px; }

#gon7 {
  position: absolute;
  top: 711px;
  left: 671px; }

#gon8 {
  position: absolute;
  top: 423px;
  left: 838px; }

#gon9 {
  position: absolute;
  top: 327px;
  left: 1005px; }

#gon10 {
  position: absolute;
  top: 519px;
  left: 1005px; }

#gon11 {
  position: absolute;
  top: 711px;
  left: 1005px; }

#gon12 {
  position: absolute;
  top: 615px;
  left: 1172px; }

#gon13 {
  position: absolute;
  top: 327px;
  left: 1339px; }

#gon14 {
  position: absolute;
  top: 519px;
  left: 1339px; }

#gon15 {
  position: absolute;
  top: 711px;
  left: 1339px; }

#gon16 {
  position: absolute;
  top: 423px;
  left: 1506px; }

#gon17 {
  position: absolute;
  top: 615px;
  left: 1506px; }

.section {
  overflow: hidden; }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3; }

div.references-cta {
  position: relative;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  top: 10px;
  left: 0px;
  height: 50px;
  width: 50px;
  background-color: #007dc3;
  border: 1px solid white;
  border-radius: 8px; }

div.references {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-weight: 100;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  bottom: 20px;
  margin-left: 100px;
  padding: 15px; }

.menu-cta {
  position: relative;
  top: 741px;
  left: 1592px; }

.menu {
  display: none;
  position: absolute;
  opacity: 0;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  background-color: #002352;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
  padding: 20px;
  min-width: 300px; }
  .menu img {
    display: block;
    width: 150px;
    position: relative;
    margin: auto; }
  .menu ul {
    display: block;
    margin-top: 20px;
    padding: 0; }
    .menu ul li {
      margin: 0px;
      padding: 7px 0px 6px 0px;
      border-top: 1px solid white;
      list-style-type: none; }
    .menu ul li:last-of-type {
      border-bottom: 1px solid white; }

#fullpage div.section {
  background: url(../img/hexagon_BG.jpg); }

#section0 .curtain-screen {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 10000; }

#section0 .buttons {
  z-index: 1000;
  position: absolute;
  bottom: 39px;
  right: 103px; }
  #section0 .buttons button {
    width: 245px;
    background-color: transparent;
    border: white 1px solid;
    font-size: 18px; }

#section0 .title-copy {
  position: absolute;
  top: 50px;
  left: 100px;
  color: white;
  width: 900px; }
  #section0 .title-copy h1 {
    font-size: 70px;
    text-align: left; }
  #section0 .title-copy span.blue {
    color: #007dc3; }
  #section0 .title-copy p {
    color: white;
    text-align: left;
    font-size: 17px; }

#section0 .ego-logo {
  position: absolute;
  top: 50px;
  right: 287px; }
  #section0 .ego-logo img {
    width: 187px; }

#section0 #that-dude {
  width: 300px;
  left: 73px;
  top: 458px;
  z-index: 500;
  opacity: 0; }

#section0 #timeline-img {
  left: 1500px;
  top: 263px;
  z-index: 499; }

.slide .content-container {
  width: 100%;
  height: 100%;
  padding: 50px 60px 100px 60px; }
  .slide .content-container .content {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    height: 100%;
    padding: 50px 85px 50px 85px; }
    .slide .content-container .content .header {
      position: relative;
      font-size: 46px;
      color: white;
      width: 100%;
      top: 0px;
      border-bottom: 3px solid white;
      text-align: left;
      text-transform: uppercase; }
    .slide .content-container .content .header.smaller {
      font-size: 40px;
      margin-bottom: 6px; }
      .slide .content-container .content .header.smaller span.capitalize {
        text-transform: capitalize; }
    .slide .content-container .content .main-content {
      width: 100%;
      height: 100%;
      color: white;
      font-size: 20px; }
      .slide .content-container .content .main-content .st-pagelp {
        padding: 100px; }
        .slide .content-container .content .main-content .st-pagelp img.st-home-image {
          display: block;
          height: 568px; }
        .slide .content-container .content .main-content .st-pagelp #st-menu-hp {
          display: block;
          opacity: 1;
          border: 2px solid white;
          border-radius: 8px;
          font-size: 20px;
          line-height: 26px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          z-index: 1000;
          padding: 20px;
          min-width: 300px;
          width: 40%;
          float: right;
          height: 568px; }
          .slide .content-container .content .main-content .st-pagelp #st-menu-hp img {
            display: block;
            width: 150px;
            position: relative;
            margin: auto; }
          .slide .content-container .content .main-content .st-pagelp #st-menu-hp ul {
            display: block;
            margin-top: 20px;
            padding: 0; }
            .slide .content-container .content .main-content .st-pagelp #st-menu-hp ul li {
              margin: 0px;
              padding: 17px 0px;
              border-top: 1px solid white;
              list-style-type: none; }
            .slide .content-container .content .main-content .st-pagelp #st-menu-hp ul li:first-of-type {
              border-top: none; }
      .slide .content-container .content .main-content .st-page2 div.video-container {
        margin: 0 auto;
        width: 1400px;
        padding-top: 30px; }
        .slide .content-container .content .main-content .st-page2 div.video-container video {
          position: relative;
          width: 1400px;
          height: 787px; }
      .slide .content-container .content .main-content .cd-page4 {
        padding: 40px 80px 0px 80px; }
        .slide .content-container .content .main-content .cd-page4 div.quote {
          text-align: center;
          font-weight: bold;
          font-size: 36px;
          line-height: 44px;
          margin: 80px 0px; }
        .slide .content-container .content .main-content .cd-page4 div.list {
          display: flex;
          justify-content: center;
          margin-bottom: 80px; }
          .slide .content-container .content .main-content .cd-page4 div.list div.first {
            text-align: right;
            padding-right: 40px; }
        .slide .content-container .content .main-content .cd-page4 div.highlighted-text {
          font-size: 36px;
          line-height: 44px;
          border: 2px solid white;
          padding: 20px;
          background: #007dc3; }
      .slide .content-container .content .main-content .intro {
        width: 100%; }
      .slide .content-container .content .main-content .left {
        width: 50%;
        height: 100%;
        float: left; }
        .slide .content-container .content .main-content .left .st-page1 .hex-copy {
          position: relative;
          width: 250px;
          color: white;
          z-index: 1000;
          text-align: center;
          font-size: 28px;
          font-weight: 100;
          line-height: 38px; }
        .slide .content-container .content .main-content .left .st-page1 #page1-hex1 {
          position: relative;
          top: 80px;
          left: 60px; }
        .slide .content-container .content .main-content .left .st-page1 #page1-hex2 {
          position: relative;
          top: -278px;
          left: 365px; }
        .slide .content-container .content .main-content .left .st-page1 #page1-hex3 {
          position: relative;
          top: -676px;
          left: 60px; }
        .slide .content-container .content .main-content .left .st-page1 #hex1-copy {
          top: -180px;
          left: 130px; }
        .slide .content-container .content .main-content .left .st-page1 #hex2-copy {
          top: -564px;
          left: 432px; }
        .slide .content-container .content .main-content .left .st-page1 #hex3-copy {
          top: -940px;
          left: 108px;
          width: 300px;
          font-size: 20px;
          line-height: 30px; }
          .slide .content-container .content .main-content .left .st-page1 #hex3-copy span.fact {
            font-size: 84px;
            line-height: 86px;
            font-weight: 700; }
        .slide .content-container .content .main-content .left .st-page3 {
          padding: 80px 20px; }
          .slide .content-container .content .main-content .left .st-page3 span.big-number {
            font-size: 64px;
            font-weight: bold;
            line-height: 50px; }
          .slide .content-container .content .main-content .left .st-page3 canvas {
            margin-top: 50px; }
          .slide .content-container .content .main-content .left .st-page3 img {
            position: relative; }
          .slide .content-container .content .main-content .left .st-page3 div.title {
            margin-bottom: 50px; }
          .slide .content-container .content .main-content .left .st-page3 div.summary {
            margin-top: 50px; }
          .slide .content-container .content .main-content .left .st-page3 span.fineprint {
            font-size: 16px;
            line-height: 20px; }
          .slide .content-container .content .main-content .left .st-page3 div.table {
            width: 600px;
            margin-top: 40px;
            margin-left: 50px; }
          .slide .content-container .content .main-content .left .st-page3 div.table-cell {
            text-align: left; }
          .slide .content-container .content .main-content .left .st-page3 .list {
            margin-bottom: 80px; }
        .slide .content-container .content .main-content .left .st-page4 img {
          width: 360px;
          display: block;
          position: relative;
          margin: 0px auto; }
        .slide .content-container .content .main-content .left .st-page4 li {
          font-size: 16px;
          line-height: 20px; }
        .slide .content-container .content .main-content .left .st-page5 div.sub-header {
          width: 100%;
          text-align: center;
          margin-top: 130px;
          margin-bottom: 40px; }
        .slide .content-container .content .main-content .left .st-page5 img, .slide .content-container .content .main-content .left .st-page5 button {
          position: relative;
          display: block;
          margin: auto;
          width: 70%; }
        .slide .content-container .content .main-content .left .st-page5 button {
          margin-top: 40px; }
        .slide .content-container .content .main-content .left .st-page6 {
          margin-top: 40px;
          padding: 40px;
          font-size: 25px; }
        .slide .content-container .content .main-content .left .cd-page1 ul {
          font-size: 36px;
          line-height: 44px; }
        .slide .content-container .content .main-content .left .cd-page1 ul:first-of-type {
          margin: 40px 0px; }
        .slide .content-container .content .main-content .left .cd-page1 div.nurse-figure {
          width: 100%;
          text-align: center;
          margin-bottom: 40px;
          font-size: 36px;
          line-height: 44px; }
          .slide .content-container .content .main-content .left .cd-page1 div.nurse-figure ul {
            font-size: 48px; }
          .slide .content-container .content .main-content .left .cd-page1 div.nurse-figure span.big-number {
            font-size: 96px;
            line-height: 80px;
            font-weight: bold; }
        .slide .content-container .content .main-content .left .cd-page2 {
          margin-top: 40px;
          padding: 0px 20px; }
          .slide .content-container .content .main-content .left .cd-page2 img {
            position: relative;
            display: block;
            margin: auto;
            width: 70%; }
          .slide .content-container .content .main-content .left .cd-page2 h3 {
            margin-bottom: 30px; }
          .slide .content-container .content .main-content .left .cd-page2 ul {
            font-size: 20px;
            line-height: 26px;
            margin-top: 40px; }
        .slide .content-container .content .main-content .left .cd-page3 div.product-container {
          display: flex;
          margin: 20px 10px; }
          .slide .content-container .content .main-content .left .cd-page3 div.product-container img {
            display: inline;
            position: relative;
            width: 230px;
            margin-top: 30px; }
          .slide .content-container .content .main-content .left .cd-page3 div.product-container div.list-container-table {
            display: table; }
            .slide .content-container .content .main-content .left .cd-page3 div.product-container div.list-container-table div.list-container {
              display: table-cell;
              vertical-align: middle;
              padding: 0px 0px 0px 30px; }
              .slide .content-container .content .main-content .left .cd-page3 div.product-container div.list-container-table div.list-container ul li {
                white-space: normal; }
            .slide .content-container .content .main-content .left .cd-page3 div.product-container div.list-container-table div.list-container.item1 {
              padding-top: 80px; }
            .slide .content-container .content .main-content .left .cd-page3 div.product-container div.list-container-table div.list-container.item2 {
              padding-top: 80px; }
            .slide .content-container .content .main-content .left .cd-page3 div.product-container div.list-container-table div.list-container.item3 {
              padding-top: 80px; }
            .slide .content-container .content .main-content .left .cd-page3 div.product-container div.list-container-table div.list-container.item4 {
              padding-top: 80px; }
        .slide .content-container .content .main-content .left .cd-page5 {
          font-size: 25px;
          padding: 40px 20px 0px; }
      .slide .content-container .content .main-content .right {
        width: 50%;
        height: 100%;
        float: right; }
        .slide .content-container .content .main-content .right .st-page1 {
          margin-top: 100px; }
          .slide .content-container .content .main-content .right .st-page1 li {
            line-height: 28px; }
          .slide .content-container .content .main-content .right .st-page1 svg#hex-bullet-1 {
            top: 255px;
            left: 10px; }
          .slide .content-container .content .main-content .right .st-page1 svg#hex-bullet-2 {
            top: 650px;
            left: 10px; }
          .slide .content-container .content .main-content .right .st-page1 div {
            position: relative; }
            .slide .content-container .content .main-content .right .st-page1 div .modal div {
              position: relative;
              z-index: 10000; }
            .slide .content-container .content .main-content .right .st-page1 div.right-copy-1 {
              top: -53px;
              left: 100px;
              color: white;
              font-size: 20px;
              line-height: 40px; }
            .slide .content-container .content .main-content .right .st-page1 div.right-copy-2 {
              top: -53px;
              left: 100px;
              color: white;
              font-size: 20px;
              line-height: 40px; }
          .slide .content-container .content .main-content .right .st-page1 div.hex-bullet {
            font-size: 20px;
            color: white;
            z-index: 1000; }
          .slide .content-container .content .main-content .right .st-page1 div#hex-bullet-1 {
            top: 32px;
            left: 16px; }
          .slide .content-container .content .main-content .right .st-page1 div#hex-bullet-2 {
            top: 32px;
            left: 16px; }
          .slide .content-container .content .main-content .right .st-page1 div.callout {
            left: 1052px;
            top: 800px;
            background-color: #007dc3;
            border: 1px solid white;
            height: 110px;
            width: 660px;
            padding: 20px;
            color: white;
            font-size: 18px;
            font-weight: bold; }
            .slide .content-container .content .main-content .right .st-page1 div.callout div.left {
              position: relative;
              width: 50%;
              height: 100%;
              display: block;
              float: left; }
              .slide .content-container .content .main-content .right .st-page1 div.callout div.left span.price {
                font-size: 42px;
                font-weight: bold; }
            .slide .content-container .content .main-content .right .st-page1 div.callout div.right {
              position: relative;
              vertical-align: bottom;
              display: table-cell;
              padding-top: 25px;
              font-weight: 100;
              float: right; }
        .slide .content-container .content .main-content .right .st-page3 {
          padding: 80px 20px; }
          .slide .content-container .content .main-content .right .st-page3 span.big-number {
            font-size: 64px;
            font-weight: bold;
            line-height: 50px; }
          .slide .content-container .content .main-content .right .st-page3 canvas {
            margin-top: 50px; }
          .slide .content-container .content .main-content .right .st-page3 img {
            position: relative; }
          .slide .content-container .content .main-content .right .st-page3 div.title {
            margin-bottom: 50px; }
          .slide .content-container .content .main-content .right .st-page3 div.summary {
            margin-top: 50px; }
          .slide .content-container .content .main-content .right .st-page3 span.fineprint {
            font-size: 16px;
            line-height: 20px; }
          .slide .content-container .content .main-content .right .st-page3 div.table {
            width: 600px;
            margin-top: 40px;
            margin-left: 50px; }
          .slide .content-container .content .main-content .right .st-page3 div.table-cell {
            text-align: left; }
          .slide .content-container .content .main-content .right .st-page3 .summary {
            height: 300px; }
            .slide .content-container .content .main-content .right .st-page3 .summary .hex-copy {
              position: relative;
              width: 250px;
              color: white;
              z-index: 1000;
              text-align: center;
              font-size: 28px;
              font-weight: 100;
              line-height: 38px; }
            .slide .content-container .content .main-content .right .st-page3 .summary #hex4-copy {
              top: -155px;
              left: 68px;
              width: 200px;
              font-size: 20px;
              line-height: 30px; }
              .slide .content-container .content .main-content .right .st-page3 .summary #hex4-copy span.fact {
                font-size: 84px;
                line-height: 86px;
                font-weight: 700; }
                .slide .content-container .content .main-content .right .st-page3 .summary #hex4-copy span.fact sup {
                  font-size: 50%; }
            .slide .content-container .content .main-content .right .st-page3 .summary #page3-hex4 {
              position: relative;
              top: 67px;
              left: 20px; }
            .slide .content-container .content .main-content .right .st-page3 .summary #hex5-copy {
              top: -559px;
              left: 470px;
              width: 200px;
              font-size: 20px;
              line-height: 30px; }
              .slide .content-container .content .main-content .right .st-page3 .summary #hex5-copy span.fact {
                font-size: 84px;
                line-height: 86px;
                font-weight: 700; }
                .slide .content-container .content .main-content .right .st-page3 .summary #hex5-copy span.fact sup {
                  font-size: 50%; }
            .slide .content-container .content .main-content .right .st-page3 .summary #page3-hex5 {
              display: inline;
              position: relative;
              top: -343px;
              left: 415px; }
        .slide .content-container .content .main-content .right .st-page4 img {
          width: 360px;
          display: block;
          position: relative;
          margin: 0px auto; }
        .slide .content-container .content .main-content .right .st-page4 li {
          font-size: 16px;
          line-height: 20px; }
        .slide .content-container .content .main-content .right .st-page5 div.sub-header {
          width: 100%;
          text-align: center;
          margin-top: 130px;
          margin-bottom: 40px; }
        .slide .content-container .content .main-content .right .st-page5 img, .slide .content-container .content .main-content .right .st-page5 button {
          position: relative;
          display: block;
          margin: auto;
          width: 70%; }
        .slide .content-container .content .main-content .right .st-page5 button {
          margin-top: 40px; }
        .slide .content-container .content .main-content .right .st-page6 {
          margin-top: 40px;
          padding: 40px;
          font-size: 25px; }
        .slide .content-container .content .main-content .right .cd-page1 {
          font-size: 36px;
          line-height: 44px; }
          .slide .content-container .content .main-content .right .cd-page1 div.top-container {
            display: flex;
            padding: 0px 10px; }
            .slide .content-container .content .main-content .right .cd-page1 div.top-container div.top-left {
              padding: 0px 5px 10px;
              width: 535px; }
              .slide .content-container .content .main-content .right .cd-page1 div.top-container div.top-left h3 {
                margin-bottom: 36px; }
              .slide .content-container .content .main-content .right .cd-page1 div.top-container div.top-left span.fine-print {
                font-size: 16px;
                line-height: 20px;
                width: 100%;
                text-align: center;
                display: block; }
            .slide .content-container .content .main-content .right .cd-page1 div.top-container div.top-right {
              padding: 0px 10px 10px;
              width: 415px; }
              .slide .content-container .content .main-content .right .cd-page1 div.top-container div.top-right ul {
                font-size: 20px;
                line-height: 26px; }
          .slide .content-container .content .main-content .right .cd-page1 div.box {
            margin-top: 20px;
            padding: 20px 40px;
            text-align: center;
            border: 2px solid white;
            background-color: #007dc3;
            font-size: 36px;
            line-height: 44px; }
          .slide .content-container .content .main-content .right .cd-page1 h3 {
            margin-top: 30px; }
          .slide .content-container .content .main-content .right .cd-page1 div.bottom-container {
            display: flex;
            padding: 0px 10px; }
            .slide .content-container .content .main-content .right .cd-page1 div.bottom-container ul {
              font-size: 20px;
              line-height: 26px; }
            .slide .content-container .content .main-content .right .cd-page1 div.bottom-container div.bottom-left {
              padding: 10px;
              width: 360px; }
            .slide .content-container .content .main-content .right .cd-page1 div.bottom-container div.bottom-right {
              padding: 10px;
              width: 455px; }
        .slide .content-container .content .main-content .right .cd-page2 {
          margin-top: 40px;
          padding: 0px 20px; }
          .slide .content-container .content .main-content .right .cd-page2 img {
            position: relative;
            display: block;
            margin: auto;
            width: 70%; }
          .slide .content-container .content .main-content .right .cd-page2 h3 {
            margin-bottom: 30px; }
          .slide .content-container .content .main-content .right .cd-page2 ul {
            font-size: 20px;
            line-height: 26px;
            margin-top: 40px; }
        .slide .content-container .content .main-content .right .cd-page3 div.product-container {
          display: flex;
          margin: 20px 10px; }
          .slide .content-container .content .main-content .right .cd-page3 div.product-container img {
            display: inline;
            position: relative;
            width: 230px;
            margin-top: 30px; }
          .slide .content-container .content .main-content .right .cd-page3 div.product-container div.list-container-table {
            display: table; }
            .slide .content-container .content .main-content .right .cd-page3 div.product-container div.list-container-table div.list-container {
              display: table-cell;
              vertical-align: middle;
              padding: 0px 0px 0px 30px; }
              .slide .content-container .content .main-content .right .cd-page3 div.product-container div.list-container-table div.list-container ul li {
                white-space: normal; }
            .slide .content-container .content .main-content .right .cd-page3 div.product-container div.list-container-table div.list-container.item1 {
              padding-top: 80px; }
            .slide .content-container .content .main-content .right .cd-page3 div.product-container div.list-container-table div.list-container.item2 {
              padding-top: 80px; }
            .slide .content-container .content .main-content .right .cd-page3 div.product-container div.list-container-table div.list-container.item3 {
              padding-top: 80px; }
            .slide .content-container .content .main-content .right .cd-page3 div.product-container div.list-container-table div.list-container.item4 {
              padding-top: 80px; }
        .slide .content-container .content .main-content .right .cd-page3 div.footnote {
          font-size: 16px;
          line-height: 20px;
          position: relative;
          top: 90px;
          left: -245px; }
        .slide .content-container .content .main-content .right .cd-page5 {
          font-size: 25px;
          padding: 40px 20px 0px;
          padding-top: 140px; }
          .slide .content-container .content .main-content .right .cd-page5 img {
            width: 600px;
            display: block;
            position: relative;
            margin: 0 auto; }
      .slide .content-container .content .main-content .mandatories {
        display: table;
        text-align: center;
        margin-top: 600px;
        width: 100%;
        margin: 0 auto; }
        .slide .content-container .content .main-content .mandatories div.content {
          display: table-row; }
          .slide .content-container .content .main-content .mandatories div.content .wraptocenter {
            padding-top: 100px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 830px;
            margin: 0 auto; }
            .slide .content-container .content .main-content .mandatories div.content .wraptocenter img {
              display: block;
              position: relative;
              margin: 0 auto; }
            .slide .content-container .content .main-content .mandatories div.content .wraptocenter p {
              margin-top: 100px; }
          .slide .content-container .content .main-content .mandatories div.content .wraptocenter * {
            vertical-align: middle; }
        .slide .content-container .content .main-content .mandatories p {
          display: block; }

.detailer-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  margin-top: -50px;
  margin-left: -50px;
  width: 1920px;
  /* Full width */
  height: 1080px;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* The Close Button */ }
  .detailer-modal .modal-content {
    background-color: #002352;
    color: white;
    font-size: 25px;
    line-height: 33px;
    border-radius: 2px solid white;
    margin: 100px auto;
    /* 15% from the top and centered */
    padding: 60px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    height: 80%; }
    .detailer-modal .modal-content div.modal-header {
      width: 100%;
      font-size: 48px;
      line-height: 60px; }
    .detailer-modal .modal-content div.modal-content-container {
      padding-top: 30px;
      display: flex; }
      .detailer-modal .modal-content div.modal-content-container p {
        margin-bottom: 20px; }
      .detailer-modal .modal-content div.modal-content-container div.modal-left {
        width: 50%;
        padding-right: 20px; }
      .detailer-modal .modal-content div.modal-content-container div.modal-right {
        width: 50%; }
        .detailer-modal .modal-content div.modal-content-container div.modal-right hr {
          width: 80%;
          margin: 50px 10%; }
        .detailer-modal .modal-content div.modal-content-container div.modal-right p.quote {
          text-align: center;
          font-weight: bold;
          font-size: 160%;
          line-height: 130%; }
        .detailer-modal .modal-content div.modal-content-container div.modal-right p.client {
          text-align: right; }
  .detailer-modal .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .detailer-modal .modal-close:hover,
  .detailer-modal .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

video::-webkit-media-controls {
  display: none !important; }
