$egoBlue: #007dc3;
$darkEgoBlue: #002352;
$stupidLarge: 96px;
$superLarge: 64px;
$larger: 48px;

$normal: 20px;
$small: 16px;

@mixin tinyFont() {
  font-size: 12px;
  line-height: 16px;
}

@mixin smallFont() {
  font-size: 16px;
  line-height: 20px;
}

@mixin normalFont() {
  font-size: 20px;
  line-height: 26px;  
}

@mixin largeFont() {
  font-size: 36px;
  line-height: 44px;  
}

@mixin largerFont() {
  font-size: 48px;
  line-height: 60px;  
}

@mixin st-pagelp() { 

  padding: 100px;

  img.st-home-image {

    display: block;
    height: 568px;

  }

  #st-menu-hp {

    display: block;
    opacity: 1;
    border: 2px solid white;
    border-radius: 8px;
    @include normalFont();
    font-weight: bold;
    // background-color: $darkEgoBlue;
    text-align: center;
    text-transform: uppercase;
    z-index: 1000;
    padding: 20px;
    min-width: 300px;
    width: 40%;
    float: right;
    height: 568px;
    
    img {

      display: block;
      width: 150px;
      position: relative;
      margin: auto;

    }

    ul {

      display: block;
      margin-top: 20px; 
      padding: 0;
      
      li {

        margin: 0px;
        padding: 17px 0px;
        border-top: 1px solid white;
        list-style-type: none;

      }

      li:last-of-type{
        border-bottom: 1px solid white;
      }
    }
  }

}

@mixin st-page2() { 
  div.video-container {
    margin: 0 auto;
    width: 1400px;
    padding-top: 30px;
    video {
      position: relative;
      width: 1400px;
      height: 787px;
    }
  }
}

@mixin st-page3() {
  
  padding: 80px 20px;
  span.big-number { 
    font-size: 64px;
    font-weight: bold;
    line-height: 50px;
  }
  canvas { margin-top: 50px;}
  img { 
    position: relative;
    // width: 700px;
  }
  div.title {margin-bottom: 50px;}
  div.summary { margin-top: 50px;}
  span.fineprint { @include smallFont(); }
  div.table { width: 600px; margin-top:40px; margin-left: 50px; }
  div.table-cell { text-align:left;}
}

@mixin st-page4(){

  img { 

    width: 360px;
    display: block;
    position: relative;
    margin: 0px auto;

  }

}

@mixin st-page5() {
  
  div.sub-header  {

    width: 100%; 
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
  }

  img, button {
      position: relative;
      display: block;
      margin: auto;
      width: 70%;
    }
    button { 
        margin-top: 40px;
    }

}

@mixin st-page6(){
  
  margin-top: 40px;
  padding: 40px;
  font-size: 25px;

}

@mixin cd-page1(){
  
    // margin-top: 40px;

}

@mixin cd-page2() {
  
    margin-top: 40px;
    padding: 0px 20px;

    img {
      position: relative;
      display: block;
      margin: auto;
      width: 70%;
    }

    h3 {

      margin-bottom: 30px;

    }

    ul {

      @include normalFont()
      margin-top: 40px;

    }

}

@mixin cd-page3(){

  div.product-container {

    display: flex;
    margin: 20px 10px;

    img {

        display: inline;
        position: relative;
        width: 230px;
        margin-top: 30px;

    }

    div.list-container-table {

      display: table;

      div.list-container {
        
        display: table-cell;
        vertical-align: middle;
        padding: 0px 0px 0px 30px;

        ul li {
          white-space: normal;
        }

      }

      div.list-container.item1 {
        padding-top: 80px
      }
      div.list-container.item2 {
        padding-top: 80px
      }
      div.list-container.item3 {
        padding-top: 80px
      }
      div.list-container.item4 {
        padding-top: 80px
      }

    }
  }
}

@mixin cd-page4() {

  padding: 40px 80px 0px 80px;

  div.quote {

    text-align: center;
    font-weight: bold;
    @include largeFont();
    margin: 80px 0px;
  }

  div.list {

    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    // width: 100%;

    div.first {

      text-align: right;
      padding-right: 40px;

    }

  }

  div.highlighted-text {
    
    @include largeFont();
    border: 2px solid white;
    padding: 20px;
    background: $egoBlue;
    
  }

}

@mixin cd-page5() {
  font-size: 25px;
  padding: 40px 20px 0px;

}

body, div, p, h1, h2, h3, button {
  font-family: "museo-sans";
  font-weight: 100;
}

div.table {display: table;}
div.table-row {display: table-row;}
div.table-cell {display: table-cell;}

img { position: absolute; }
li { margin: 0.3em 0; }
sup { font-size: 20%; }

ol li { font-weight: bold; }
li span { font-weight: normal; }
h1 {
  font-size: 5em;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}
.gon {
  opacity: 0;
  transform: rotateY(180deg);
}

$gonTopOrigin: 615;
$gonLeftOrigin: 170;
$gonHeight: 192;
$gonHalfHeight: 96;
$gonWidth: 167;

#gon1 {
  position: absolute;
  top: $gonTopOrigin * 1px;
  left: $gonLeftOrigin * 1px;
}

#gon2 {
  position: absolute;
  top: ($gonTopOrigin + $gonHeight) * 1px;
  left: $gonLeftOrigin * 1px;
}

#gon3 {
  position: absolute;
  top: ($gonTopOrigin + $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + $gonWidth) * 1px;
}

#gon4 {
  position: absolute;
  top: $gonTopOrigin * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 2)) * 1px;
}

#gon5 {
  position: absolute;
  top: ($gonTopOrigin + $gonHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 2)) * 1px;
}

#gon6 {
  position: absolute;
  top: ($gonTopOrigin - $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 3)) * 1px;
}

#gon7 {
  position: absolute;
  top: ($gonTopOrigin + $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 3)) * 1px;
}

#gon8 {
  position: absolute;
  top: ($gonTopOrigin - $gonHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 4)) * 1px;
}

#gon9 {
  position: absolute;
  top: ($gonTopOrigin - $gonHeight - $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 5)) * 1px;
}

#gon10 {
  position: absolute;
  top: ($gonTopOrigin - $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 5)) * 1px;
}

#gon11 {
  position: absolute;
  top: ($gonTopOrigin + $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 5)) * 1px;
}

#gon12 {
  position: absolute;
  top: ($gonTopOrigin) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 6)) * 1px;
}

#gon13 {
  position: absolute;
  top: ($gonTopOrigin - $gonHeight - $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 7)) * 1px;
}

#gon14 {
  position: absolute;
  top: ($gonTopOrigin - $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 7)) * 1px;
}

#gon15 {
  position: absolute;
  top: ($gonTopOrigin + $gonHalfHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 7)) * 1px;
}

#gon16 {
  position: absolute;
  top: ($gonTopOrigin - $gonHeight) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 8)) * 1px;
}

#gon17 {
  position: absolute;
  top: ($gonTopOrigin) * 1px;
  left: ($gonLeftOrigin + ($gonWidth * 8)) * 1px;
}

.section {
  overflow: hidden;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

div.references-cta {
  
  position: relative;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  top: 10px;
  left: 0px;
  height: 50px;
  width: 50px;
  background-color: $egoBlue;
  border: 1px solid white;
  border-radius: 8px;

}


div.references {

  opacity: 0;
  background-color: rgba(255,255,255, 0.9);
  color: #333;
  font-weight: 100;
  @include tinyFont();
  position: absolute;
  bottom: 20px;
  margin-left: 100px;
  padding: 15px;

}

.menu-cta {

  position: relative;
  top: 741px;
  left: 1592px;

}

.menu {

  display: none;
  position: absolute;
  opacity: 0;
  border: 2px solid white;
  border-radius: 8px;
  @include normalFont();
  font-weight: bold;
  background-color: $darkEgoBlue;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
  padding: 20px;
  min-width: 300px;
  // height: 0px;

  img {

    display: block;
    width: 150px;
    position: relative;
    margin: auto;

  }

  ul {

    display: block;
    margin-top: 20px; 
    padding: 0;
    
    li {

      margin: 0px;
      padding: 7px 0px 6px 0px;
      border-top: 1px solid white;
      list-style-type: none;

    }

    li:last-of-type{
      border-bottom: 1px solid white;
    }
  }
}

#fullpage div.section {
  background: url(../img/hexagon_BG.jpg);
}

#section0 {

  .curtain-screen{
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-color: black;
      z-index: 10000;
  }

  .buttons {
    z-index: 1000;
    position: absolute;
    bottom: 39px;
    right: 103px;
    button {
      width: 245px;
      background-color: transparent;
      border: white 1px solid;
      font-size: 18px;
    }
  }

  .title-copy {
    position: absolute;
    top: 50px;
    left: 100px;
    color: white;
    width: 900px;
    h1 {
      font-size: 70px;
      text-align: left;
    }
    span.blue {
      color: $egoBlue;
    }
    p {
      color: white;
      text-align: left;
      font-size: 17px;
    }
  }
  .ego-logo {
    position: absolute;
    top: 50px;
    right: 287px;
    img {
      width: 187px;
    }
  }
  #that-dude {
    width: 300px;
    left: 73px;
    top: 458px;
    z-index: 500;
    opacity: 0;
  }
  #timeline-img {
    left: 1500px;
    top: 263px;
    z-index: 499;
  }
}

.slide .content-container {

  width: 100%;
  height: 100%;
  padding: 50px 60px 100px 60px;

  .content {

    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    height: 100%;
    padding: 50px 85px 50px 85px;

    .header {

      position: relative;
      font-size: 46px;
      color: white;
      width: 100%;
      top: 0px;
      border-bottom: 3px solid white;
      text-align: left;
      text-transform: uppercase;

    }

    .header.smaller {

      font-size: 40px;
      margin-bottom: 6px;

      span.capitalize {

        text-transform: capitalize;

      }
      
    }

    .main-content {

      width: 100%;
      height: 100%;
      color: white;
      font-size: 20px;

      .st-pagelp { @include st-pagelp(); }
      .st-page2 { @include st-page2() }
      .cd-page4 { @include cd-page4(); }

      .left {
        
        width: 50%;
        height: 100%;
        float: left;
        
        .st-page1 {

          .hex-copy {
            position: relative;
            width: 250px;
            color: white;
            z-index: 1000;
            text-align: center;
            font-size: 28px;
            font-weight: 100;
            line-height: 38px;
          }

          #page1-hex1 {
            position: relative;
            top: 80px;
            left: 60px;
          }
          #page1-hex2 {
            position: relative;
            top: -278px;
            left: 365px;
          }
          #page1-hex3 {
            position: relative;
            top: -676px;
            left: 60px;
          }
          #hex1-copy {
            top: -180px;
            left: 130px;
          }
          #hex2-copy {
            top: -564px;
            left: 432px;
          }
          #hex3-copy {
            top: -940px;
            left: 108px;
            width: 300px;
            font-size: 20px;
            line-height: 30px;
            span.fact {
              font-size: 84px;
              line-height: 86px;
              font-weight: 700;
            }
          }
        }
        .st-page3 { 
          @include st-page3(); 
          .list {
            margin-bottom: 80px;
          }
        }
        .st-page4 { @include st-page4(); }
        .st-page5 { @include st-page5(); }
        .st-page6 { @include st-page6(); } 

        .cd-page1 {

          @include cd-page1()
          ul {
            @include largeFont();
          }
          ul:first-of-type {
            margin: 40px 0px;
          }
          div.nurse-figure {
            width: 100%; 
            text-align:center;
            margin-bottom: 40px;
            @include largeFont();

            ul {
              font-size: $larger;
            }

            span.big-number {
              font-size: $stupidLarge;
              line-height: 80px;
              font-weight: bold;
            }
          }
        }

        .cd-page2 { @include cd-page2(); }

        .cd-page3 {

          @include cd-page3();

        }

        .cd-page5 { @include cd-page5(); }

      }
      .right {

        width: 50%;
        height: 100%;
        float: right;

        .st-page1 {
          margin-top:100px;
          li { line-height: 28px;}
          svg {
            
            &#hex-bullet-1 {
              top: 255px;
              left: 10px;
            }
            &#hex-bullet-2 {
              top: 650px;
              left: 10px;
            }
          }

          div {
            position: relative;
            .modal {
              div {
                position: relative;
                z-index: 10000;
              }
            }
            &.right-copy-1 {
              top: -53px;
              left: 100px;
              color: white;
              font-size: 20px;
              line-height: 40px;
            }
            &.right-copy-2 {
              top: -53px;
              left: 100px;
              color: white;
              font-size: 20px;
              line-height: 40px;
            }
          }
         
          div {
            &.hex-bullet {
              font-size: 20px;
              color: white;
              z-index: 1000;
            }
            &#hex-bullet-1 {
              top: 32px;
              left: 16px;
            }
            &#hex-bullet-2 {
              top: 32px;
              left: 16px;
            }
            &.callout {
              left: 1052px;
              top: 800px;
              background-color: $egoBlue;
              border: 1px solid white;
              height: 110px;
              width: 660px;
              padding: 20px;
              color: white;
              font-size: 18px;
              font-weight: bold;
              div {
                &.left {
                  position: relative;
                  width: 50%;
                  height: 100%;
                  display: block;
                  float: left;
                  span.price {
                    font-size: 42px;
                    font-weight: bold;
                  }
                }
                &.right {
                  position: relative;
                  vertical-align: bottom;
                  display: table-cell;
                  padding-top: 25px;
                  font-weight: 100;
                  float: right;
                }
              }
            }
          }
        }
        
        .st-page3 {
          @include st-page3();

          .summary {
            height: 300px;
            .hex-copy {
              position: relative;
              width: 250px;
              color: white;
              z-index: 1000;
              text-align: center;
              font-size: 28px;
              font-weight: 100;
              line-height: 38px;
            }

            #hex4-copy {
              top: -155px;
              left: 68px;
              width: 200px;
              font-size: 20px;
              line-height: 30px;
              span.fact {
                font-size: 84px;
                line-height: 86px;
                font-weight: 700;
                sup {
                  font-size: 50%;
                }
              }
            }
            
            #page3-hex4 {
              position: relative;
              top: 67px;
              left: 20px;
            }

            #hex5-copy {
              top: -559px;
              left: 470px;
              width: 200px;
              font-size: 20px;
              line-height: 30px;
              span.fact {
                font-size: 84px;
                line-height: 86px;
                font-weight: 700;
                sup {
                  font-size: 50%;
                }
              }
            }
            
            #page3-hex5 {
              display: inline;
              position: relative;
              top: -343px;
              left: 415px;
            }

          }

        }

        .st-page4 {
          @include st-page4()
        }

        .st-page5 {
          @include st-page5()
        }

        .st-page6 {
          @include st-page6()
        }

        .cd-page1 {

          @include cd-page1()
          @include largeFont()

          div.top-container {

            display: flex;
            padding: 0px 10px;

            div.top-left {

                padding: 0px 5px 10px;
                width: 535px;

                h3 {

                  margin-bottom: 36px;

                }

                span.fine-print {
                  @include smallFont();
                  // line-height: 10px;
                  width: 100%;
                  text-align: center;
                  display: block;
                }
            }

            div.top-right {

                padding: 0px 10px 10px;
                width: 415px; 

                ul {
                  @include normalFont()
                }

            }
          }

          div.box {
            margin-top: 20px;
            padding: 20px 40px; 
            text-align: center;
            border: 2px solid white;
            background-color: $egoBlue;
            @include largeFont();
          }
          h3 { margin-top: 30px;}
          div.bottom-container {
            display: flex;
            padding: 0px 10px;
            ul {
              @include normalFont()
            }
            div.bottom-left {
                padding: 10px;
                width: 400px;
            }
            
            div.bottom-right {
                padding: 10px;
                width: 415px; 
            }
          }
        }

        .cd-page2 { @include cd-page2(); }

        .cd-page3 { @include cd-page3(); 

          div.footnote { 
            // color: red; 
            @include smallFont();
            position: relative;
            top: 90px;
            left: -245px;
          }
    
        }
          
        
        .cd-page5 {

          @include cd-page5();
          padding-top: 140px;
          img {
            width: 600px;
            display: block;
            position: relative;
            margin: 0 auto;
          }
        }

      }

      .mandatories {
        
        display: table;
        div.content {
          display: table-row;
          .wraptocenter {
            padding-top: 100px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 830px;
            margin: 0 auto;
            img { 
              display: block; 
              position: relative;
              margin: 0 auto;
            }
            p {
              margin-top: 100px;
            }
          }
          .wraptocenter * {
            vertical-align: middle;
          }
        }
        text-align: center;
        margin-top: 600px;
        width: 100%;
        margin: 0 auto;

        p { display: block; }

      }
    }
  }
}

.detailer-modal {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-top: -50px;
  margin-left: -50px;
  width: 1920px; /* Full width */
  height: 1080px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .modal-content {
      background-color: $darkEgoBlue;
      color: white;
      font-size: 25px;
      line-height: 33px;
      border-radius: 2px solid white;
      margin: 100px auto; /* 15% from the top and centered */
      padding: 60px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      height: 80%;
     

      div.modal-header {

        width: 100%;
        @include largerFont();

      }

      div.modal-content-container {     

        padding-top: 30px;
        display: flex;
        p {
            margin-bottom: 20px;
        }

        div.modal-left {

          width: 50%;
          padding-right: 20px;

        }

        div.modal-right {
          
          width: 50%;

          hr { 
            width: 80%; 
            margin: 50px 10%;
          }

          p.quote {
            text-align: center;
            font-weight: bold;
            font-size: 160%;
            line-height: 130%;
          }

          p.client{
            text-align: right;
          }

        }

      }
  }

  /* The Close Button */
  .modal-close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .modal-close:hover,
  .modal-close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
}

video::-webkit-media-controls {
  display: none !important;
}