$egoBlue: #007dc3;

body, div, p, h1, h2, h3, button
  font-family: "museo-sans";

h1
  font-size: 5em
  color: #fff
  margin: 0
  padding: 0

.section
  overflow: hidden

#myVideo
  position: absolute
  right: 0
  bottom: 0
  top: 0
  right: 0
  width: 100%
  height: 100%
  background-size: 100% 100%
  background-color: black
  background-position: center center
  background-size: contain
  object-fit: cover
  z-index: 3

img
  position: absolute

#fullpage div.section
  background: url(../img/hexagon_BG.jpg)

#section0
  .buttons
    z-index: 1000
    position: absolute
    bottom: 39px
    right: 103px
    button
      width: 245px
      background-color: transparent
      border: white 1px solid
      font-size: 18px
  .title-copy
    position: absolute
    top: 100px
    left: 100px
    color: white
    width: 900px
    h1
      font-size: 70px
      text-align: left
    span.blue
      color: #007dc3
    p
      color: white
      text-align: left
      font-size: 13px
  .ego-logo
    position: absolute
    top: 100px
    right: 287px
    img
      width: 187px
  #that-dude
    left: 100px
    top: 503px
    z-index: 500
  #timeline-img
    left: 1500px
    top: 263px
    z-index: 499

.slide .content-container
  width: 100%
  height: 100%
  padding: 50px 60px 100px 60px
  .content
    background-color: rgba(255, 255, 255, 0.1)
    border-radius: 20px
    height: 100%
    padding: 50px 85px 50px 85px
    .header
      position: relative
      font-size: 46px
      color: white
      width: 100%
      top: 0px
      border-bottom: 3px solid white
      text-align: left
      text-transform: uppercase
    .main-content
      width: 100%
      height: 100%
      // background-color: rgba(255, 255, 255, 0.5)
      .left
        width: 50%
        height: 100%
        float: left
        .hex-copy
          position: absolute
          width: 250px
          color: white
          z-index: 1000
          text-align: center
          font-size: 26px
          font-weight: 100
          line-height: 34px
        #hex1-copy
          top: 326px
          left: 270px
        #hex2-copy
          top: 461px
          left: 570px
        #hex3-copy
          top: 622px
          left: 251px
          width: 300px
          span.fact
            font-size: 78px
            line-height: 80px
        #page1-hex1
          position: absolute
          top: 220px
          left: 200px
        #page1-hex2
          position: absolute
          top: 393px
          left: 501px
        #page1-hex3
          position: absolute
          top: 567px
          left: 200px

      .right
        width: 50%
        height: 100%
        background-color: rgba(255, 0, 255, 0.5)
        float: right
      .left .hexagon-container
        &.container1
          background-color: grey
          top: 225px
          position: absolute
          color: white
        &.container3
          background-color: red
          top: 575px
          position: absolute

video::-webkit-media-controls
  display: none !important

// .hex
//   position: relative
//   float: left
//   height: 338px
//   min-width: 338px
//   padding: 12px
//   margin: 4px
//   font-weight: bold
//   text-align: center
//   background: #007dc3;
//   -webkit-clip-path: polygon(50px 0px, calc(100% - 50px) 0px, 100% 50%, calc(100% - 50px) 100%, 50px 100%, 0px 50%)
//   &.gradient-border  
//     color: white
//   &:before
//     position: absolute
//     content: ''
//     height: calc(100% - 14px)
//     width: calc(100% - 14px)
//     left: 7px
//     top: 7px
//     -webkit-clip-path: polygon(22px 0px, calc(100% - 22px) 0px, 100% 50%, calc(100% - 22px) 100%, 22px 100%, 0px 50%)
//     z-index: -1
//   &.gradient-border:before
//     background: #007dc3;

// span
//   display: block
//   margin-top: 50px
//   padding: 8px
//   transform: translateY(-50%)
